/***
 * Folk Content CSS by John Tilley for Folk Digital
 */

.grid_editor_area {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid_editor_area:hover .item-point {
    cursor: move;
    outline: 2px dotted #fbcb09;
}
.grid_editor_area .item-point.selected {
    outline: 4px solid #ffe407;
}


.grid_editor_area:hover .item-point .ui-resizable-handle {
    border-right: 3px double #000000;
}

.grid tr.highlight,
.grid tr.even.highlight,
.grid tr.odd.highlight {
    background:#fbcb09;
}

.grid tr.selected,
.grid tr.even.selected,
.grid tr.odd.selected  {
    background:#ffe407;
}

.feature-controls {
    margin-bottom: 1em;
}
.feature-controls button {
    margin: 0 5px 0 0;
}
.feature-controls button img {
    width: 30px;
    display: block;
    margin: 0 auto;
}

.feature-controls .add,
.feature-controls .align {
    float: left;
    border-right: 2px solid #ffac47;
    padding-right: 5px;
    margin-right: 10px;
}