.clear {
    clear: both;
}

.folk-content-feature .mobile { display: none; }
.folk-content-feature .desktop { display: block; }

.folk-content-feature {
    width:100%;
}

.folk-content-feature .feature-image {
    width:100%;
    position: relative;
    font-size: 16px; /* Reset Font size to default */
}

.folk-content-feature .feature-image .bg-image {
    width: 100%;
}
.folk-content-feature .feature-image .items {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.folk-content-feature .feature-image .items .image,
.folk-content-feature .feature-image .items .text {
    position: absolute;
}

.folk-content-feature .feature-image .items .image img {
    width: 100%;
}

.folk-content-feature .feature-image .product-markers {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.folk-content-feature .feature-image .product-markers .product-marker {
    z-index: 51;
}

/* Styling for the info window */
.folk-content-feature .feature-image .info-window {
    width:350px;
    height:auto;
    position: absolute;
    z-index: 55;
    background: #FFFFFF;
}
.folk-content-feature .feature-image .info-window .content {
    padding: 20px;
}
.folk-content-feature .feature-image .info-window .popup-text,
.folk-content-feature .feature-image .info-window .popup-image {
    float: left;
    width:50%;
}

.folk-content-feature .feature-image .info-window .popup-image img {
    width: 100%;
    vertical-align: bottom;
}

.folk-content-nav {
    position: absolute;
    display: table;
    bottom: 1%;
    left: 50%;
}
.folk-content-nav-button {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 0 7px;
    background: #A7A7A7;
    display: inline-block;
}
.folk-content-nav-button.active {
    background: #333333;
}


/*----------------------------------------------------------------------------
Mobile Break
----------------------------------------------------------------------------*/
@media (max-width: 640px) {

    .folk-content-feature .mobile { display: block; }
    .folk-content-feature .desktop { display: none; }

    /*.folk-content-arrow { display: none; }*/
    /*.folk-content-slider { height: auto!important; position: static!important; }*/
    /*.folk-content-slider .folk-content-feature { position: static!important; }*/
}