
/*----------------------------------------------------------------------------
Most of this scss assumes you are using Foundation
----------------------------------------------------------------------------*/

.folk-content-feature {
  width:100%;

  .mobile {
    display: none;
    @media #{$small-only} {
      display: block;
    }
  }
  .desktop {
    display: block;
    @media #{$small-only} {
      display: none;
    }
  }

  .feature-image {
    width:100%;
    position: relative;
    font-size: 16px; /* Reset Font size to default */

    .bg-image {
      width: 100%;
    }

    .items {
      position: absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
    }

    .items .image,
    .items .text {
      position: absolute;
    }

    .items .image img {
      width: 100%;
    }

    .product-markers {
      position: absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;

      .product-marker {
        z-index: 51;
      }
    }

    .info-window {
      width:350px;
      height:auto;
      position: absolute;
      z-index: 55;
      background: #FFFFFF;

      .content {
        padding: 20px;
      }

      .popup-text,
      .popup-image {
        float: left;
        width:50%;
      }

      .popup-image img {
        width: 100%;
        vertical-align: bottom;
      }
    }
  }
}

.folk-content-nav {
  position: absolute;
  display: table;
  bottom: 1%;
  left: 50%;
}
.folk-content-nav-button {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin: 0 7px;
  background: #A7A7A7;
  display: inline-block;
}
.folk-content-nav-button.active {
  background: #333333;
}


/*----------------------------------------------------------------------------
Mobile Break - Makes images in the slider static instead
----------------------------------------------------------------------------*/
//@media #{$small-only} {
//  .folk-content-arrow { display: none; }
//  .folk-content-slider { height: auto!important; position: static!important; }
//  .folk-content-slider .folk-content-feature { position: static!important; }
//}