<?php
$id = $this->getFeatureId();
$_feature = $this->getFeature($id);
$unique_id = uniqid();
?>

<?php if ($_feature->getId() && $_feature->getEnabled()) : ?>
    <?php
    $product_marker_image = Mage::getBaseUrl('js') . 'folk_content/default/circle-icon.png';
    if (Mage::getStoreConfig('folk_content/general/custom_product_marker') != '') {
        $product_marker_image = Mage::getBaseUrl('media') . 'folkcontent' .DS . Mage::getStoreConfig('folk_content/general/custom_product_marker');
    }
    $image_url = '';
    if ($_feature->getData("link_url")) {
        $image_url = Mage::helper('folk_content')->getUrl($_feature->getData("link_url"));
    }
    ?>
    <div class="folk-content-feature" id="folk-content-feature-<?php echo $id; ?>-<?php echo $unique_id; ?>">

        <?php if($_feature->getData("embed_script") != ""): ?>

            <div class="feature-video"><?php echo $_feature->getData("embed_script"); ?></div>

        <?php else: ?>

            <div class="mobile">
                <?php if ($_feature->getData("link_url")): ?>
                    <a href="<?php echo Mage::helper('folk_content')->getUrl($_feature->getData("link_url")); ?>"><h2 class="tagline"><?php echo $_feature->getData("title"); ?></h2></a>
                <?php else: ?>
                    <h2 class="tagline"><?php echo $_feature->getData("title"); ?></h2>
                <?php endif; ?>
            </div>

            <div class="feature-image">

                <img src="<?php echo Mage::getBaseUrl('media') . $_feature->getData("bg_image"); ?>"
                     class="bg-image <?php if ($_feature->getData('mobile_image')) : ?>desktop<?php endif; ?>"
                     alt="<?php echo $_feature->getData("title"); ?>"
                     title="<?php echo $_feature->getData("title"); ?>"/>

                <?php if ($_feature->getData('mobile_image')) : ?>
                    <img src="<?php echo Mage::getBaseUrl('media') . $_feature->getData("mobile_image"); ?>"
                         class="bg-image mobile"
                         alt="<?php echo $_feature->getData("title"); ?>"
                         title="<?php echo $_feature->getData("title"); ?>"/>
                <?php endif; ?>

                <div class="items">
                    <?php $_items = $this->getFeatureItems($_feature->getData("feature_id")); ?>
                    <?php foreach($_items as $_item) : ?>
                        <?php // OVERLAYS ?>
                        <?php if ($_item->getData("overlay_type") == 'image') : ?>

                            <div class="image" style="z-index:<?php echo $_item->getData("z_index"); ?>;left:<?php echo $_item->getData("coord_x"); ?>%;top:<?php echo $_item->getData("coord_y"); ?>%;width:<?php echo $_item->getData("image_width"); ?>%;">

                                <?php if ($_item->getData("image_url") != ''): ?>
                                    <a href="<?php echo Mage::helper('folk_content')->getUrl($_item->getData("image_url")); ?>">
                                        <img src="<?php echo Mage::getBaseUrl('media') . $_item->getData("image_src"); ?>" alt="<?php echo $_item->getData("label"); ?>" title="<?php echo $_item->getData("label"); ?>" />
                                    </a>
                                <?php else : ?>
                                    <img src="<?php echo Mage::getBaseUrl('media') . $_item->getData("image_src"); ?>" alt="<?php echo $_item->getData("label"); ?>" title="<?php echo $_item->getData("label"); ?>" />
                                <?php endif; ?>

                            </div>

                        <?php elseif ($_item->getData("overlay_type") == 'text') : ?>
                            <div class="text" style="
                                z-index:<?php echo $_item->getData("z_index"); ?>;
                                left:<?php echo $_item->getData("coord_x"); ?>%;
                                top:<?php echo $_item->getData("coord_y"); ?>%;
                                width:<?php echo $_item->getData("text_width"); ?>%;
                                text-align: <?php echo $_item->getData("alignment"); ?>;">


                                <?php if ($_item->getData("text_url") != ''): ?>
                                    <a href="<?php echo Mage::helper('folk_content')->getUrl($_item->getData("text_url")); ?>">
                                        <span style="font-size: <?php echo $_item->getData("font_size"); ?>em;
                                            font-family: <?php echo $_item->getData("font_face"); ?>, 'Arial', 'sans-serif';
                                            color:<?php echo $_item->getData("colour"); ?>;
                                            line-height:<?php echo $_item->getData("line_height"); ?>;
                                        <?php $letter_spacing = (string)$_item->getData("letter_spacing"); ?>
                                            letter-spacing:<?php echo $letter_spacing; ?><?php if (strpos($letter_spacing, 'px') === false && $letter_spacing != 'normal') { echo 'px'; } ?>;
                                        <?php if ($_item->getData("bold")) : ?>font-weight: bold;<?php endif; ?>
                                        <?php if ($_item->getData("underlined")) : ?>text-decoration: underline;<?php endif; ?>
                                        <?php if ($_item->getData("italic")) : ?>font-style: italic;<?php endif; ?>"><?php echo $_item->getData("text_content"); ?></span>
                                    </a>
                                <?php else : ?>
                                    <span style="font-size: <?php echo $_item->getData("font_size"); ?>em;
                                        font-family: <?php echo $_item->getData("font_face"); ?>, 'Arial', 'sans-serif';
                                        color:<?php echo $_item->getData("colour"); ?>;
                                        line-height:<?php echo $_item->getData("line_height"); ?>;
                                    <?php $letter_spacing = (string)$_item->getData("letter_spacing"); ?>
                                        letter-spacing:<?php echo $letter_spacing; ?><?php if (strpos($letter_spacing, 'px') === false && $letter_spacing != 'normal') { echo 'px'; } ?>;
                                    <?php if ($_item->getData("bold")) : ?>font-weight: bold;<?php endif; ?>
                                    <?php if ($_item->getData("underlined")) : ?>text-decoration: underline;<?php endif; ?>
                                    <?php if ($_item->getData("italic")) : ?>font-style: italic;<?php endif; ?>"><?php echo $_item->getData("text_content"); ?></span>
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </div>

                <div class="product-markers desktop" id="markersprod-<?php echo $_feature->getData("feature_id"); ?>-<?php echo $unique_id; ?>"></div>

                <div class="info-window desktop" id="infoprod-<?php echo $_feature->getData("feature_id"); ?>-<?php echo $unique_id; ?>"></div>
            </div>

        <?php endif; ?>

        <script type="text/javascript">
            //<![CDATA[
            jQuery(document).ready(function () {
                var folkContentFeature<?php echo $unique_id; ?> = jQuery("#folk-content-feature-<?php echo $id; ?>-<?php echo $unique_id; ?>").folkContent({
                    featureId: <?php echo $_feature->getData("feature_id"); ?>,
                    markers: <?php echo $_feature->getProductCollectionJson(); ?>,
                    imageUrl: '<?php echo $image_url; ?>',
                    mediaUrl: '<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>',
                    markerImage: '<?php echo $product_marker_image; ?>',
                    distanceFromMarker: <?php echo Mage::getStoreConfig('folk_content/general/popup_distance_from_marker'); ?>
                });
            });
            //]]>
        </script>

    </div>

<?php endif; ?>