<?php $product = $this->getProduct(); ?>


<script type="text/javascript">
    //<![CDATA[
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
    //]]>
</script>

<div class="content">
    <div class="popup-container">
        <p class="item-title"><a href="<?php echo $product->getProductUrl(); ?>"><?php echo $product->getName(); ?></a></p>
        <div class="popup-text left">
            <p class="item-price"><?php echo Mage::helper('core')->currency($product->getPrice()); ?></p>

            <?php if ($product->getShortDescription() != '') : ?>
                <p class="item-description"><?php echo $product->getShortDescription(); ?></p>
                <p class="item-more"><a href="<?php echo $product->getProductUrl(); ?>">More Info</a></p>
            <?php endif; ?>

            <form action="<?php echo Mage::helper('checkout/cart')->getAddUrl($product); ?>"
                  method="post" name="product_addtocart_form" id="product_addtocart_form">
                <input type="hidden" name="product" value="<?php $product->getId(); ?>" id="home-product" />
                <input type="hidden" name="qty" value="1" id="home-qty" />

                <input type="hidden" name="product" value="<?php echo $product->getId(); ?>" />

                <?php if($product->isConfigurable() === true) : ?>
                    <?php
                    $blockViewType = Mage::app()->getLayout()->createBlock("Mage_Catalog_Block_Product_View_Type_Configurable");

                    $blockViewType->setProduct($product);
                    $blockViewType->setTemplate("folk/content/hotspotconfigurable.phtml");
                    echo $blockViewType->toHtml();
                    ?>
                <?php endif; ?>

                <input class="link-add-to-cart button" type="button" value="Add to Basket" onclick="productAddToCartForm.submit(); return false;" />
            </form>
        </div>
        <div class="popup-image item-image right">

            <a href="<?php echo $product->getProductUrl(); ?>" target="_blank" title="<?php echo $product->getName(); ?>">
                <img src="<?php echo Mage::helper('catalog/image')->init($product, 'image')
                    ->constrainOnly(true)->keepAspectRatio(true)->keepFrame(false)->resize(250, null); ?>"
                     alt="<?php echo $product->getName(); ?>" title="<?php echo $product->getName(); ?>"/>
            </a>
        </div>
        <div class="clear"></div>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    productAddToCartForm = new VarienForm('product_addtocart_form');
    //]]>
</script>