<?php
$feature_array = $this->getFeatureArray();
$feature_array = Mage::helper('folk_content')->checkFeatureArray($feature_array);
$unique_id = uniqid();
?>

<?php if (count($feature_array)) : ?>
    <?php
    $arrow_left_image = Mage::getBaseUrl('js') . 'folk_content/default/arrow-left-icon.png';
    $arrow_right_image = Mage::getBaseUrl('js') . 'folk_content/default/arrow-right-icon.png';
    if (Mage::getStoreConfig('folk_content/slider/custom_left_arrow') != '') {
        $arrow_left_image = Mage::getBaseUrl('media') . 'folkcontent' .DS . Mage::getStoreConfig('folk_content/slider/custom_left_arrow');
    }
    if (Mage::getStoreConfig('folk_content/slider/custom_right_arrow') != '') {
        $arrow_right_image = Mage::getBaseUrl('media') . 'folkcontent' .DS . Mage::getStoreConfig('folk_content/slider/custom_right_arrow');
    } ?>

    <?php $feature_collection = Mage::getModel('folk_content/feature')->getCollection()
        ->addFieldToFilter('enabled',array('eq'=>1))
        ->addFieldToFilter('feature_id',array('in'=>$feature_array))
        ->setOrder('sort_order','ASC'); ?>

    <div class="folk-content-slider" id="folk-content-slider-<?php echo $unique_id; ?>">
        <?php foreach($feature_collection as $feature) : ?>
            <?php echo Mage::helper('folk_content')->getFeatureHtml($feature->getId()); ?>
        <?php endforeach; ?>
    </div>

    <script type="text/javascript">
        //<![CDATA[
        var folkContentSlider<?php echo $unique_id; ?> = jQuery('#folk-content-slider-<?php echo $unique_id; ?>').folkContentSlider({
            slides: '.folk-content-feature',
            arrowClass: 'folk-content-arrow',
            arrowLeftImage: '<?php echo $arrow_left_image; ?>',
            arrowRightImage: '<?php echo $arrow_right_image; ?>',
            auto: <?php echo Mage::getStoreConfig('folk_content/slider/auto_scroll') > 0 ? 'true' : 'false'; ?>,
            pauseOnHover: <?php echo Mage::getStoreConfig('folk_content/slider/pause_on_hover') > 0 ? 'true' : 'false'; ?>,
            speed: <?php echo Mage::getStoreConfig('folk_content/slider/slider_speed') > 0 ? Mage::getStoreConfig('folk_content/slider/slider_speed') : 1000; ?>,
            delay: <?php echo Mage::getStoreConfig('folk_content/slider/slider_interval') > 0 ? Mage::getStoreConfig('folk_content/slider/slider_interval') : 7000; ?>
        });
        //]]>
    </script>

<?php endif; ?>